<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="/">E-Com</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/produkte">Produkte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/warenkorb">Warenkorb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/user-bereich"
            >User-Bereich</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/mitarbeiter-bereich"
            >Mitarbeiter-Bereich</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
